@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Fredoka:wght@400;600;700&display=swap');

:root {
  --p-orange: #ff9f43;
  --p-yellow: #fed330;
  --p-cream: #fffaf0;
  --p-peach: #ffbe76;
  --p-red: #ee5253;
  --p-blue: #4bcffa;
  
  --manga-border: #2d3436;
  --font-main: 'Quicksand', sans-serif;
  --font-heading: 'Fredoka', sans-serif;
}

body {
  margin: 0;
  background-color: var(--p-cream);
  color: #2d3436;
  font-family: var(--font-main);
  /* Sửa lại nền chấm bi cho đỡ rối */
  background-image: radial-gradient(rgba(254, 211, 48, 0.3) 2px, transparent 2px);
  background-size: 30px 30px;
}

#root {
  width: 100%;
  min-height: 100vh;
}
